/* Page styles */

body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}

body{
	margin-top:20px;
	color:#51555C;
	font-size:14px;
	background-color:#123456;
	text-align:center;
}

.clear{
	clear:both;
}

a, a:visited {
	color:#007bc4;
	text-decoration:none;
	outline:none;
}

.container{
	width:88%;
	text-align:left;
	border: solid 20px #f8f8fa;
	margin:25px auto;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	min-width: 550px;
	background-color: #f8f8fa;
	background-size: contain;
}

h1 {
	font-size:28px;
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}

h2 {
	font-weight:normal;
	font-size:20px;
	color:#999999;
}

.navigation {
	margin:20px 0px;
}

.navigation li{
	list-style: none;
	display: block;
	float: left;
	width: 50%;
}

.navigation li a{
	padding: 12px 0;
	margin: 3px 6px 3px ;
	text-align: center;
	background-color: #456;
	border: solid 1px #abc;
	color: white;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: block;
	font-size: 0.9em;
}

.navigation li a:hover, .navigation li .selected{
	padding: 15px 0;
	margin: 0 6px 0;
	background-color: lightblue;
	text-decoration: none;
	text-shadow: 2px 2px 1px #112233;
	font-size: 1em;
}

.pageContent{
	margin-top:20px;
	border:1px dashed #cccccc;
	padding: 25px 15px;
	position: relative;
	clear: both;
	background-color: #f8f8fa;
}

header {
	font-weight: bold;
	padding: 5px 0;
}
.demo{
	color:#fafafa;
}
.mediciones > div {
	display: inline-block;
}
.green {
	background-color: lightgreen;
}
.yellow {
	background-color: #FFFF66;
}
.orange {
	background-color: gold;
}
.red {
	background-color: orangered;
}
.violet {
	background-color: #CC00BB;
}
.brown {
	background-color: #CC0000;
}

.reference-container {
	right: 1em;
	top: 1em;
	position: absolute;
	width: 200px;
}
.reference-container {
	font-weight: normal;
	font-size: 0.9em;
	text-align: right;
}

.reference-container span {
	margin: 1px;
	min-width: 1.5em;
	height: 2em;
	border: solid 1px #bbb;
	display: inline-block;
	vertical-align: middle;
}
.data-container {
	display: inline-block;
}
.data-container > div {
	padding: 12px 8px;
	font-weight: bold;
	text-align: right;
}
.data-container > span {
	padding: 9px 12px;
	margin: 4px;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
	border: solid 1px #bbb;
}
.mediciones p {
	font-size: 0.9em
}

.loading {
	margin: 0 15px;
	border: 1px dotted #ccc;
}