<div class="mediciones">
	<div class="data-container">
		<div>Material Particulado</div>
		<div>Dióxido de Azufre</div>
		<div>Ozono</div>
		<div>Dióxido de Nitrógeno</div>
		<div>Monóxido de Carbono</div>
	</div>
	<div class="data-container">
		<span><%= m1 %> ug/m3</span>
		<span><%= m2 %> ppb</span>
		<span><%= m3 %> ppb</span>
		<span><%= m3 %> ppb</span>
		<span><%= m3 %> ppb</span>
	</div>

	<div class="reference-container">
		<header>Referencia de Colores</header>
		<div>
			<span>Bueno</span>
		    <span class="green"></span>
		</div>
		<div>
			<span>Moderado</span>
			<span class="yellow"></span>
		</div>
		<div>
			<span>Insalubre en grupos sensitivos</span>
			<span class="orange"></span>
		</div>
		<div>
			<span>Insalubre</span>
			<span class="orangered"></span>
		</div>
		<div>
			<span>Muy Insalubre</span>
			<span class="red"></span>
		</div>
		<div>
			<span>Peligroso</span>
			<span class="fuxsia"></span>
		</div>
	</div>
</div>